<div class="container">
	<%= form_tag("/documents/perform_action", method: :post, enforce_utf8: false, multipart: true) do %>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="bot_action" class="col-md-3 control-label">file_action:</label>
          <div class="col-md-9">
            <div class="input-group">
              <span class="input-group-addon" id="bot_action-addon">!</span>
              <%= select_tag :bot_action, options_for_select(['download','upload'], 'download'), class: "form-control", id: "bot_action", placeholder: "vote", tabindex: 1,  'aria-describedby': "bot_action-addon" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="bot" class="col-md-3 control-label">account:</label>
          <div class="col-md-9">
            <div class="input-group">
              <span class="input-group-addon" id="bot-addon">@</span>
              <%= select_tag :bots, options_for_select(@permitted_bots, @permitted_bots.empty? ? '' : @permitted_bots.first), class: "form-control", id: "bots", placeholder: "minnowsupport", tabindex: 2,  'aria-describedby': "bots-addon", disabled: @permitted_bots.empty?, name: 'account' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="filename" class="col-md-3 control-label">filename:</label>
          <div class="col-md-9">
            <div class="input-group">
              <span class="input-group-addon" id="filename-addon">...</span>
              <%= text_field_tag :filename, nil, class: "form-control", id: "filename", placeholder: "filename without extension", tabindex: 3 %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="version" class="col-md-3 control-label">version:</label>
          <div class="col-md-9">
            <div class="input-group">
              <span class="input-group-addon" id="version-addon">#</span>
              <%= select_tag :version, options_for_select((1..100),1), class: "form-control", id: "version", placeholder: "version", tabindex: 4 %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-sm-6">
        <div id="attachment-fields" class="form-group" style="display: none;">
          <label for="attachment" class="col-md-3 control-label">attachment:</label>
          <div class="col-md-9">
            <div class="input-group">
              <span class="input-group-addon" id="attachment-addon">...</span>
              <%= file_field :attachment, :file, class: "form-control", id: "attachment", tabindex: 5 %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row text-center">
      <div class="col-sm-12">
	      <%= button_tag "Submit", class: "btn btn-primary btn-lg", tabindex: 6  %>
      </div>
    </div>
	<% end %>
</div>

